<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje portfolio</title>
</head>
<body>
    {% include 'baner.htm' %}
    <h2>Proč chci být ajťákem?</h2>
    <p>Jsem fascinován technologiemi a jejich schopností měnit svět k lepšímu. Chci být součástí této revoluce a přispět svými dovednostmi a nápady.</p>
    <h2>Co dělám ve volném čase?</h2>
    <p>Ve volném čase se věnuji programování a také jezdím na kole.</p>
    {% include 'menu.htm' %}
</html>